body {
    font-family: Arial, sans-serif;
    background-color: #686a4e;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    text-align: center;
    background: #cfcdc2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

h1 {
    color: #757573;
}

#guess-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
}

#guess-button {
    padding: 10px 20px;
    background-color: #977557;
    color: #cac9c3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#guess-button:hover {
    background-color: #535e4b;
}

#feedback {
    font-size: 1.2rem;
    margin: 10px 0;
}
div.link-container {
    position: absolute;
    top: 10px; 
    left: 10px; 
    text-align: left;
}


div.link-container a {
    display: block;
    margin-bottom: 10px;
    color: #444; 
    text-decoration: none; 
    font-size: 16px;
}

div.link-container a:hover {
    color: #977557;
    text-decoration: underline; 
}




